/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #ebebeb;
	color: #333;
	margin: 0;
	padding: 20px;
	text-align: center;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}

#achievements,
#projects {

	justify-content: center;
	margin-bottom:30px;
}

#achievements ul,
#projects ul {
	text-align: left;
	padding: 20px;
	margin: 0 auto;
	list-style-position: inside;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.5;
}

#tasks {
	justify-content: center;
	margin-bottom: 30px;
}

#tasks ul {
	text-align: left;
	padding: 20px;
	margin: 0 auto;
	list-style-position: inside;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.5;
}
